.h[data-v-8a23ecea] {
  height: 99px;
}
header[data-v-8a23ecea] {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 30px 0;
  border-bottom: 2px solid #8ca3a6;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
header .logo[data-v-8a23ecea] {
  font-family: Another;
  width: 188px;
}
header .logo img[data-v-8a23ecea] {
  width: 100%;
}
header .main[data-v-8a23ecea] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
header nav .nav[data-v-8a23ecea],
header nav[data-v-8a23ecea] {
  display: flex;
}
header nav .nav li[data-v-8a23ecea] {
  margin: 0 20px;
}
header nav .nav li a[data-v-8a23ecea] {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  font-family: unb_b;
  font-size: 17px;
}
header nav .nav a[data-v-8a23ecea] {
  display: flex;
  align-items: center;
}
header nav .nav a.nav_btn[data-v-8a23ecea] {
  padding: 8px 28px;
  background: linear-gradient(92.01deg, #2bbc9d, #66b939);
  box-shadow: 1px 6px 17px rgba(5, 39, 23, 0.5);
  font-family: Unbounded;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background: linear-gradient(92.01deg, #358085, #68b5a8);
  box-shadow: 1px 6px 17px rgba(5, 39, 23, 0.2);
  border-radius: 6px;
}
.menu[data-v-8a23ecea] {
  display: none;
  width: 40px;
  padding: 10px 0;
  margin-right: 15px;
}
.menu img[data-v-8a23ecea] {
  width: 100%;
}
@media screen and (max-width: 1120px) {
  header nav .nav[data-v-8a23ecea] {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 0 50px 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  header nav .nav li[data-v-8a23ecea] {
    margin: 10px 0;
  }
  header nav .nav li a[data-v-8a23ecea] {
    font-size: 18px;
  }
  header nav .menu[data-v-8a23ecea] {
    display: block;
    position: relative;
    z-index: 9;
  }
}
.container[data-v-23ea544b] {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.container .title[data-v-23ea544b] {
  text-align: center;
  margin-bottom: 30px;
}
.container .title img[data-v-23ea544b] {
  width: 40%;
}
.container .left[data-v-23ea544b] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
.container .left img[data-v-23ea544b] {
  width: 100%;
  position: absolute;
  left: -20%;
  top: 0;
}
.container .right[data-v-23ea544b] {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  position: relative;
}
.container .right .dia1[data-v-23ea544b] {
  position: absolute;
  width: 80px;
  right: -20%;
  bottom: -20%;
}
.container .right .dia1 img[data-v-23ea544b] {
  width: 100%;
}
.container .right .box[data-v-23ea544b] {
  border-top: 1px solid #41594e;
  padding: 30px 0;
  border-bottom: 1px solid #41594e;
}
.container .right .box p[data-v-23ea544b] {
  font-size: 16px;
  color: #c4c4c4;
  word-break: break-all;
  font-family: unb_lig;
  line-height: 32px;
  text-align: left;
}
@media screen and (max-width: 700px) {
  .container[data-v-23ea544b] {
    flex-direction: column;
  }
  .container .right[data-v-23ea544b] {
    width: 90%;
  }
}
.container .dia[data-v-6d32866d] {
  position: absolute;
  left: 0;
  width: 230px;
}
.container .dia img[data-v-6d32866d] {
  transform: translateY(50%);
  width: 100%;
}
.container .pile[data-v-6d32866d] {
  position: absolute;
  right: 12%;
  width: 200px;
}
.container .pile img[data-v-6d32866d] {
  width: 100%;
}
.container .cap[data-v-6d32866d] {
  position: absolute;
  left: 20%;
  width: 70px;
}
.container .cap img[data-v-6d32866d] {
  transform: translateY(20%);
  width: 100%;
}
.title[data-v-6d32866d] {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 40px;
}
.title img[data-v-6d32866d] {
  width: 60%;
}
.card_list[data-v-6d32866d] {
  display: flex;
  align-items: center;
  background: rgba(31, 77, 74, 0.9);
  border: 1px solid #54adb9;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
}
.card_list .icon[data-v-6d32866d] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin: 20px;
}
.card_list .icon img[data-v-6d32866d] {
  width: 40%;
}
.card_list .text[data-v-6d32866d] {
  padding: 0 40px;
}
.card_list .text h3[data-v-6d32866d] {
  font-size: 23px;
  font-weight: 400;
  font-family: unb_41;
}
.card_list .text p[data-v-6d32866d] {
  margin-top: 25px;
  font-size: 17px;
  font-family: unb_lig;
}
@media screen and (max-width: 400px) {
  .title[data-v-6d32866d] {
    width: 90%;
    margin: 60px auto 20px;
  }
  .title img[data-v-6d32866d] {
    width: 100%;
  }
  .card_list[data-v-6d32866d] {
    padding: 20px 0;
  }
  .card_list .icon img[data-v-6d32866d] {
    width: 240%;
  }
}
.title[data-v-66b2a360] {
  text-align: center;
  margin-top: 120px;
}
.title img[data-v-66b2a360] {
  width: 30%;
}
.container[data-v-66b2a360] {
  display: flex;
  align-items: center;
  width: 950px;
  justify-content: space-around;
  margin-top: 20px;
}
.container .text_tit[data-v-66b2a360] {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 26px;
  margin-bottom: 15px;
}
.container .left[data-v-66b2a360] {
  width: 500px;
  position: relative;
}
.container .left .card[data-v-66b2a360] {
  background: rgba(31, 77, 74, 0.9);
  border: 1px solid #54adb9;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
}
.container .left .card h3[data-v-66b2a360] {
  color: #dcdcdc;
}
.container .left .card p[data-v-66b2a360] {
  margin-top: 25px;
  font-family: unb_lig;
  font-size: 16px;
  color: #c4c4c4;
}
.container .riht .pic[data-v-66b2a360] {
  position: relative;
  width: 405px;
}
.container .riht .pic img[data-v-66b2a360] {
  width: 100%;
}
.container .riht .pic .clip[data-v-66b2a360] {
  position: absolute;
  top: 46%;
  left: -2%;
  width: 125px;
  padding: 3px 5px 3px 3px;
  background-color: #ffdb00;
}
.container .riht .pic .clip .message[data-v-66b2a360],
.container .riht .pic .clip[data-v-66b2a360] {
  text-align: center;
  border-radius: 12px 0 15px 12px;
  -webkit-clip-path: polygon(0 0, 100% 0, 94% 13px, 94% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 94% 13px, 94% 100%, 0 100%);
}
.container .riht .pic .clip .message[data-v-66b2a360] {
  width: 100%;
  padding: 5px 10px 5px 5px;
  background-color: #fff;
}
.number[data-v-66b2a360] {
  font-family: unb_lig;
}
.numberbg[data-v-66b2a360] {
  padding: 15px 0;
  margin: 10px 0;
  position: relative;
  font-family: unb_b;
}
.numberbg img[data-v-66b2a360] {
  position: absolute;
  width: 130%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .container[data-v-66b2a360] {
    flex-direction: column;
  }
  .container .left[data-v-66b2a360] {
    margin-bottom: 40px;
    width: 95%;
  }
}
@media screen and (max-width: 400px) {
  .title[data-v-66b2a360] {
    width: 90%;
    margin: 60px auto 20px;
  }
  .title img[data-v-66b2a360] {
    width: 100%;
  }
}
.banner_box[data-v-d5f9294c] {
  width: 100%;
  overflow: hidden;
  background-color: #438f8e;
  padding: 15px 0;
}
.banner_box .banner_scroll[data-v-d5f9294c] {
  width: 2400px;
  display: flex;
  justify-content: space-between;
}
.banner_box .banner_scroll .item[data-v-d5f9294c] {
  width: 300px;
  padding: 20px 0;
}
.banner_box .banner_scroll .item img[data-v-d5f9294c] {
  width: 100%;
}
.road_box[data-v-ccf4467e] {
  background: url(../img/roadbg.74b6f4c1.png) no-repeat;
  background-position: 0 100%;
  background-size: auto 100%;
}
.banners[data-v-ccf4467e] {
  position: relative;
  margin-top: 80px;
}
.banners .emoji[data-v-ccf4467e] {
  width: 220px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-97.5%);
}
.banners .emoji img[data-v-ccf4467e] {
  width: 100%;
}
.text_main[data-v-ccf4467e] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.text_main p[data-v-ccf4467e] {
  width: 80%;
  font-size: 18px;
  color: #c4c4c4;
  font-family: unb_lig;
  font-weight: 400;
  text-align: center;
}
.card_list[data-v-ccf4467e] {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.card_list .card[data-v-ccf4467e] {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  width: 30%;
  padding: 50px 0;
  background: rgba(31, 77, 74, 0.9);
  border: 1px solid #54adb9;
  border-radius: 10px;
  border-bottom: none;
  box-sizing: border-box;
}
.card_list .card[data-v-ccf4467e]:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 16px;
  border-radius: 5px;
  bottom: 0;
  background: linear-gradient(90.27deg, #378286, #65b2a6);
}
.card_list .card h3[data-v-ccf4467e] {
  position: absolute;
  top: 0;
  text-align: center;
  margin-bottom: 15px;
  background: linear-gradient(90.27deg, #378286, #65b2a6);
  border-radius: 50px;
  font-family: unb_b;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 60px;
  transform: translateY(-50%);
  color: #fff;
}
.card_list .card p[data-v-ccf4467e] {
  font-size: 14px;
  font-family: unb_lig;
  margin-top: 5px;
  width: 80%;
}
.container[data-v-ccf4467e] {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.container .cont[data-v-ccf4467e] {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 60px;
}
.container .cont .title[data-v-ccf4467e] {
  margin-bottom: 50px;
  text-align: center;
}
.container .cont .title img[data-v-ccf4467e] {
  width: 70%;
}
.card[data-v-ccf4467e] {
  color: #fff;
  font-size: 22px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 0 30px 0 30px;
  color: #c4c4c4;
  font-weight: 400;
}
.card p[data-v-ccf4467e] {
  font-family: unb_lig !important;
}
.pic[data-v-ccf4467e] {
  width: 300px;
}
.pic img[data-v-ccf4467e] {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .card_list[data-v-ccf4467e] {
    flex-direction: column;
    align-items: center;
  }
  .card_list .card[data-v-ccf4467e] {
    width: 50%;
    margin: 15px 0;
  }
}
@media screen and (max-width: 700px) {
  .container[data-v-ccf4467e] {
    margin-top: 80px;
  }
  .pic[data-v-ccf4467e] {
    display: none;
  }
  .container .cont .title[data-v-ccf4467e] {
    margin-bottom: 20px;
  }
  .text_main p[data-v-ccf4467e] {
    text-align: left !important;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 500px) {
  .card_list .card[data-v-ccf4467e] {
    width: 95%;
  }
}
.containerst[data-v-002078dd] {
  /* background-color: #69b8ab; */
  background-color: #6c1d1d;
  padding-bottom: 160px;
  background-image: url(../img/conbg.77b4f549.png);
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.text_main[data-v-002078dd] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.text_main p[data-v-002078dd] {
  width: 80%;
  color: #c4c4c4;
  font-size: 16px;
  text-align: center;
  font-family: unb_41 !important;
}
.container[data-v-002078dd] {
  padding-top: 50px;
}
.container .title[data-v-002078dd] {
  text-align: center;
  margin-top: 50px;
}
.container .title .title_img[data-v-002078dd] {
  width: 35%;
}
.container .icon_list[data-v-002078dd] {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.container .icon_list li[data-v-002078dd] {
  margin: 0 20px;
}
.container .icon_list li a[data-v-002078dd] {
  display: block;
  width: 85px;
  height: 85px;
  background: url(../img/icon3.cfdbdb02.png) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 700px) {
  .text_main p[data-v-002078dd] {
    text-align: left !important;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 500px) {
  .container .title img[data-v-002078dd] {
    width: 80%;
  }
}
footer[data-v-a4385462] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #69b6a9;
  padding: 35px 0;
  border-top: 1px solid #d1e5e4;
  font-family: unb_lig;
  color: #c4c4c4;
  font-size: 14px;
}
.anBanner[data-v-0a86b283] {
  position: absolute;
  bottom: 0;
}
.sitext[data-v-0a86b283] {
  font-size: 16px !important;
  color: #c4c4c4 !important;
  padding-top: 15px;
  margin: 25px 0;
  font-family: unb_lig !important;
}
.btns[data-v-0a86b283] {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}
.btns a[data-v-0a86b283] {
  margin-right: 10px;
}
.btns .btn_item[data-v-0a86b283] {
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}
.btns .btn_item .btn_t[data-v-0a86b283] {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  margin-top: 0 !important;
  font-size: 18px !important;
}
.btns .whitepaper[data-v-0a86b283] {
  background: linear-gradient(92.01deg, #358085, #68b5a8);
  box-shadow: 1px 6px 17px rgba(5, 39, 23, 0.5);
  border-radius: 6px;
  border: none;
}
.btns .whitepaper p[data-v-0a86b283] {
  color: #fff !important;
  text-shadow: none !important;
}
.btns .audit[data-v-0a86b283] {
  border: 1px solid #54adb9;
  background: rgba(31, 77, 74, 0.9);
  border-radius: 6px;
  box-sizing: border-box;
}
.containers[data-v-0a86b283] {
  width: 100%;
  /* background: linear-gradient(180deg, #255559, #6cbbae); */
  background: linear-gradient(180deg, #e25555, #6c1d1d);
}
.home[data-v-0a86b283] {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../img/bgs.b55e4c2b.png) no-repeat;
  /* background-color: #27585c; */
  background-color: #6c1d1d;
  background-size: 100%;
  background-position: top;
}
.home .mains[data-v-0a86b283] {
  display: flex;
  justify-content: center;
}
.home .text[data-v-0a86b283] {
  display: flex;
  align-items: center;
  height: 869px;
}
.home .text .left[data-v-0a86b283] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home .text .left .title[data-v-0a86b283] {
  margin-bottom: 13px;
}
.home .text .left p[data-v-0a86b283] {
  font-family: unb_b;
  text-align: left;
  font-size: 36px;
  color: #fff;
  margin-top: 8px;
}
.home .text .left p .us[data-v-0a86b283] {
  position: relative;
}
.home .text .left p .us[data-v-0a86b283]:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 4px;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  background-color: #ff3b3b;
}
.home .text .left .ico_list[data-v-0a86b283] {
  margin-top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}
.home .text .left .ico_list li[data-v-0a86b283] {
  margin-right: 12px;
  margin: 10px;
}
.home .text .left .ico_list li a[data-v-0a86b283] {
  display: block;
  width: 80px;
  height: 80px;
  background-size: cover;
}
.home .text .right[data-v-0a86b283] {
  width: 522px;
  padding-top: -80px;
}
.home .text .right img[data-v-0a86b283] {
  width: 120%;
}
@media screen and (max-width: 1350px) {
  .home .text .right img[data-v-0a86b283] {
    width: 100%;
  }
}
@media screen and (max-width: 1120px) {
  .home .mains[data-v-0a86b283] {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .home .text[data-v-0a86b283] {
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 80px;
  }
  .home .text .right[data-v-0a86b283] {
    margin: 0 0 -50px 0;
  }
  .home .text .left[data-v-0a86b283] {
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .home .text .right[data-v-0a86b283] {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .home .bottom[data-v-0a86b283] {
    margin-top: 40px;
  }
  .home .bottom img[data-v-0a86b283] {
    width: 280%;
  }
  .home .text .btns[data-v-0a86b283] {
    flex-direction: column;
  }
  .home .text .btns a[data-v-0a86b283] {
    margin: 5px 0 !important;
  }
}
@font-face {
  font-family: exo;
  src: url(../fonts/NyashaSans.e7d3766f.ttf);
}
@font-face {
  font-family: Another;
  src: url(../fonts/Another.a8f56b04.ttf);
}
@font-face {
  font-family: unb_lig;
  src: url(../fonts/Unbounded%20Light-normal-300-100.3fbad9b0.ttf);
}
@font-face {
  font-family: unb_b;
  src: url(../fonts/Unbounded%20SemiBold-normal-600-100.e322a964.ttf);
}
@font-face {
  font-family: unb_41;
  src: url(../fonts/Unbounded-normal-400-100.89f835db.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: exo;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
@media screen and (max-width: 1200px) {
  .main {
    min-width: 95% !important;
  }
  .how .row .card {
    width: 100% !important;
    justify-content: center !important;
  }
  .main > svg {
    left: 0 !important;
    width: 100% !important;
  }
  .main {
    max-width: 95% !important;
  }
}
@media screen and (max-width: 1000px) {
  .list {
    flex-direction: column !important;
    align-items: center;
  }
  .list .item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 720px) {
  .eco .row {
    flex-direction: column;
  }
  .eco .row .pic {
    width: 80% !important;
  }
  footer .img_list {
    flex-direction: column;
    align-items: center;
  }
  .main .img_list .img,
  footer .img_list .img {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .main .img_list {
    flex-direction: column;
  }
  .main .row .item {
    width: 80% !important;
  }
  .main .row .this {
    width: 98% !important;
    flex-direction: column;
    height: auto !important;
    justify-content: center;
    align-items: center;
    transform: translateY(-20%) !important;
    padding: 14px 0 !important;
  }
  .main .row .this .text {
    text-align: center;
  }
  .main .row .this .copy {
    margin-top: 10px;
  }
  footer .icon {
    width: 100% !important;
  }
  .main .card {
    flex-direction: column;
    align-items: center;
  }
  .main .card .pic {
    margin: 0;
  }
  .main .card .info .table {
    width: 100% !important;
  }
}
@media screen and (max-width: 400px) {
  .how .row .card .item {
    height: auto !important;
  }
  footer .navs {
    flex-direction: column;
    align-items: center;
  }
}
